

.homepage {
    width: 100vw;
    height: 100vh;
}

.middle-homepage {
    padding: 0;
}

.user-profile-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.hamburg {
    font-size: 50px;
    margin: 0;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px;
}

.favorite-livescores{
    margin: 0 0;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80vw;
    text-align: center;
}

.recommended-teams-sports-title {
    border: 2px solid black;
    text-align: center;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}

.recommended-cards-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.recommended-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .recommended-cards-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .recommended-card {
        max-width: 100%;
    }
}

.recommended-card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 275px;
    max-width: 400px;
}

.trending-news-card {
    border: 2px solid black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}