.fantasy-basketball-page {
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(rgb(192, 74, 192) 30%, rgb(49, 214, 74) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fantasy-league-roster {
    background-color: rgb(231, 230, 230);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.roster-league-container {
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid black;
    padding: 16px;
}

.league-container {
    cursor: pointer;
}

.fantasy-user-roster {
    background-color: rgb(231, 230, 230);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.player-marketplace-button {
    display: flex;
    justify-content: center;
}

.marketplace-button{
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 30vw;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
    border: 3px solid black;
    cursor: pointer;
}

.fantasy-main-title {
    display: flex;
    justify-content: center;
}

.fantasy-basketball-instructions {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80px;
}

.view-trades-button {
    display: flex;
    justify-content: center;
}

.trades-button {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 30vw;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
    border: 3px solid black;
    cursor: pointer;
}