.league-page {
    background: linear-gradient(rgb(176, 102, 176) 30%, rgb(255, 255, 255) 100%);
    height: 100vh;
}

.league-top-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.8);
}

.back-btn {
    position: absolute;
    top: 180px;
    left: 26px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.league-title {
    font-size: 28px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.league-description {
    padding: 5px 10px;
    text-align: center;
}

.league-description h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 5px 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.league-description p {
    font-size: 16px;
    margin: 3px 0;
    color: rgb(51, 51, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.league-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
}

.members-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
    margin: 20px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.7);
}

.member-card {
    width: 150px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

.member-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.member-card h4,
.member-name {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trade-proposal-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.trade-proposal-button:hover {
    cursor: url("../assets/cursor.cur"), auto;
}